@import '/src/mixins/resolutions/1100px.scss';
@import '/src/mixins/resolutions/600px.scss';

.header {
  display: block;
  justify-content: center;
  height: 2.5em;
  background-color: black;
}

.burgerMenu {
  display: none;
}

.nav {
  margin-left: var(--main-margin-left);
}

.navUl {
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
  padding-top: 0.5em;
  list-style: none;
}

.navLi {
  transition: 0.5s;
}

.nav__li:hover {
  transform: scale(1.1);
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navLink:hover {
  color: orange;
}

@include width-1100px {
  .navLink {
    font-size: 1em;
  }
}

@include width-600px {
  .header {
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
  }

  .navUl {
    font-size: 0.8em;
    flex-direction: column;
    align-items: center;
    display: none;
    flex-wrap: wrap;
    height: 40px;
    transition: 1s;
    opacity: 0;
  }

  .burgerMenu {
    display: block;
    position: absolute;
    right: 5vw;
    top: 1px;
  }
}
