.jobWrapper {
  margin-top: 2rem;
}

.keyResponsibilitiesTitle {
  margin-top: 1rem;
}

.jupiterResponsibilities {
  margin-top: 0.5rem;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}