.header{
  display: flex;
  justify-content: center;
  height: 2.5em;
  background: black;
}

.nav__ul{
  display: flex;
  justify-content: space-between;
  width: var(--main-width);
  padding-top: 0.5em;
  list-style: none;
}

.nav__li{
  transition: .5s;
}

.nav__li:hover{
  transform: scale(1.1);
}

.nav__a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.nav__a:hover{
  color: orange;
}