@media print{
  .courses{
    margin-top: 0vh;
    padding-bottom: 0rem;
  }

  .courses__th {
    font-size: 14px;
  }

  .courses__td {
    font-size: 14px;
  }

  .header{
    display: none;
    position: static;
  }

  .education {
    margin-top: 10rem;
  }

  .proficiency__ul{
    list-style: inside;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 10vh;
  }

  :root{
    --main-font-family: Roboto;
    --main-margin-left: 7vw;
    --main-width: 90vw;
    --even-cell-background: #f2f4f6;
  }
}