.jobWrapper {
  margin-top: 1.5rem;
}

.aboutProject {
  margin-top: 1.5rem;
}

.serviceDescription {
  margin-top: 0.8rem;
}

.doneInInnowiseTitle {
  margin-top: 1rem;
}

.InnowiseAchievementList {
  margin-top: 1rem;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}